{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/globals.css",
  "tailwindFunctions": ["cn", "cva"],
  "tailwindAttributes": ["classNames"],
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 80,
  "endOfLine": "auto"
}
